:root{
    --sfondo:#F6F8F9;
    --addtask:#47ADF1;
    --selection: #D3D8DB;
    --editorial:#45ABEA;
    --goals:#9C72E4;
    --recruiting:#64C0A9;
    --mobile:#F29E33;
    --website:#D863A1;
    --sales:#B0C926;
    --check_v_box:#65C0A9;
    --check_x_box:#EB5952;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--sfondo);
    font-family: Arial, Helvetica, sans-serif;
}

#banner{
    padding: 10px;
    background-color: white;
}

#logo{
    width: 60px;
    margin-left: 10px;
}

#title{
    font-size: 3rem;
    vertical-align: top;
}

/* main */

#button_bar{
    width: 70%;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 5px;
}

#button_task{
    color: white;
    display: inline-block;
    margin-left: 70px;
    background-color: var(--addtask);
    border: 0;
    border-radius: 10px;
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#button_selection{
    background-color: white;
    color: var(--selection);
    display: inline-block;
    border: 0;
    border-radius: 10px;
    padding: 7px;
    border:solid var(--selection) 1px;
}

#container{
    width: 70%;
    height: 65vh;
    margin: auto;
    background-color: white;
}

.section{
    margin-left: 70px;
    padding-top: 30px;
}

.arrow{
    border-bottom: 4px;
    font-size: 20px;
    vertical-align: 5px;
}

.title_section{
    font-size: 1.5rem;
}

.element{
    padding-top: 10px;
}

.checkbox{
    font-size: 10px;
    padding: 2px;
    color: var(--check_v_box);
    border: solid var(--check_v_box);
    border-radius: 50%;
}

.red{
    color: var(--check_x_box);
    border: solid var(--check_x_box);
}

.subtitle{
    padding: 6px;
}

.editorial{
    color: white;
    display: inline-block;
    background-color: var(--editorial);
    border-radius: 13px;
    text-align: center;
    padding: 6px;
    font-size: 13px;
}

.goals{
    background-color: var(--goals);
}

.recruiting{
    background-color: var(--recruiting);
}

.mobile{
    background-color: var(--mobile);
}

.website{
    background-color: var(--website);
}

.sales{
    background-color: var(--sales);
}